body{
    background-color:ghostwhite;
    margin: auto;
}
h1,h4{
    color:rebeccapurple;
    font-style: italic;
    text-align: center;
}
div{
    width: 50%;
    height: 250px;
    background-color:aquamarine;
    margin:20px;
    padding: 20px;
    border: solid 2px red;
}
p{
    color: black;
    font-family: "Cooper Black";
    font-style: oblique;
}
table{
    width: 50%;
    height: 300pox;
    margin: auto;
    border-collapse: collapse;
}
th,td{
    text-align: center;
    padding: 10px;
}
tr:nth-last-child(even){
    background-color:rebeccapurple;
}
tr:nth-last-child(odd){
    background-color: slateblue;
}